<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap Core CSS -->
    <link href="../../assets/home/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../assets/home/css/agency.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/"><img src="/img/logo.png" height="45px"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">ABOUT</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">WHY</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">APPLY</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">SPONSER</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div align="center" id="main_box">
                    <img src="/img/main_logo.png" width="30%"><br>
                    <img src="/img/main_title.png" width="30%">
                </div>
                <!--div class="intro-lead-in">숙명여자대학교</div>
                <div class="intro-heading">멋쟁이 사자처럼</div-->
                <a href="#contact" class="page-scroll btn btn-xl">지원하기</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12">
                    <hr style="margin: 40px auto">
                    <h2 class="section-heading">ABOUT</h2>
                    <img src="/img/likelionIs.png" width="100%">
                    <h3>"기술적 장벽 때문에<br>자신의 뜻을 펼치지 못하는<br>비전공자들을 도와주고 싶었다."</h3><small><i> _ 멋쟁이 사자처럼 대표 이두희</i></small>
                    <h4>이제는 여러분의 아이디어를<br>직접 실현시킬 수 있습니다!</h4>
                    <h3>　　</h3> <!------------------------------------------------->
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <iframe width="450px" height="300px" id="iframe" src="https://www.youtube.com/embed/z_BqT50g6qM" frameborder="0" allowfullscreen=""></iframe>
                     <p class="item-intro text-muted">미래창조과학부 호모크리엔스로 선정된<br>멋쟁이 사자처럼</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <iframe width="450px" height="300px" id="iframe" src="https://www.youtube.com/embed/jhGT8xKrY4o" frameborder="0" allowfullscreen=""></iframe>
                     <p class="item-intro text-muted">KBS2 '청년 대한민국 벤처는 맛있다' 中 멋쟁이 사자처럼<br>(3기 해커톤 이야기 6분 30초~)</p>
                     
                </div>
                    <h3>　　</h3> <!------------------------------------------------->
                <p class="orange" style="font-size:25px"><b>2013년 서울대, 2014년 수도권, 2015년 전국<br>2016년은 전국대학연합 동아리로!</b></p>
                    <h3>　　</h3> <!------------------------------------------------->
                    <p class="item-intro text-muted">★ 자세한 설명은 각각의 아이콘 클릭 ★</p>
                    <h4>　　</h4> <!------------------------------------------------->
                <div class="col-md-4">
                    <a href="#portfolioModal1" data-toggle="modal"><img src="/img/about/ruby.png" width="20%"class="img-margin-bottom"></a>
                    <h4 class="service-heading">STUDY</h4>
                    <p class="text-muted">쉽고 강력한 프로그래밍 언어, 루비는 물론 <br>HTML/CSS부터 jQuery까지, <br>웹 개발에 필요한 것들을 차근 차근 배워 나갑니다. </p>
                </div>
                <div class="col-md-4">
                    <a href="#portfolioModal2" data-toggle="modal"><img src="/img/about/idea.png" width="20%"class="img-margin-bottom"></a>
                    <h4 class="service-heading">SERVICE</h4>
                    <p class="text-muted">만들고 싶었던 IT서비스를<br>직접 기획하고 개발하여, <br>머릿 속의 아이디어를 실현시킵니다.</p>
                </div>
                <div class="col-md-4">
                    <a href="#portfolioModal3" data-toggle="modal"><img src="/img/about/network.png" width="20%"class="img-margin-bottom"></a>
                    <h4 class="service-heading">NETWORK</h4>
                    <p class="text-muted">전공/학교 관계없이 공통된 관심사 하나로<br>다양한 멋사 친구들과 교류할 수 있습니다.</p>
                </div>
            </div>
            <hr style="margin: 40px auto">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <br>
                    <img src="http://likelion.net/assets/about/plan-30d693ab38d0156c6947923984646dd044896128061b73b3d7d2561934523ea5.png" width="100%">
                </div>
            </div> 
        </div>    
    </section>
    

    <!-- Portfolio Grid Section -->
    <!--section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Why?</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-9 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/img/why/likelion.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>멋쟁이 사자처럼 소개 영상</h4>
                    </div>
                </div>
                <div class="col-md-6 col-sm-9 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/startup-framework.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>소프트웨어? 코딩? 프로그래밍?</h4>
                    </div>
                </div>
            </div>
        </div>
    </section-->

    
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">APPLY</h2>
                    <h4 class="section-subheading text-muted" style="color:white">월 2일 (수) ~ 3월 11일 (금) 23시 59분</h3>
                    <h4>　　</h4> <!------------------------------------------------->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <img src="img/apply/2016_poster.png" width="100%"><br><br>
                    <a href="#portfolioModal4" class="page-scroll btn btn-xl" data-toggle="modal">모집 내용 자세히 보기</a>
                </div>
            </div>
        </div>
    </section>
    
    <section id="fullfoot">
    <div class="section-header no-padding">
        <div class="text-vertical-center">
            <div class="header-box">
                <div class="header-letter">S E R V I C E S</div>
                <div class="header-sub"><b>멋쟁이 사자처럼</b> 출신이 만든 서비스</div>
            </div>
        </div>
    </div>
</section>
    
    <!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <a href="http://likelion.net/" target="_blank">
                        <img src="img/logo/lion.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://www.campus.co/seoul/ko" target="_blank">
                        <img src="img/logo/google.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://aws.amazon.com/ko/" target="_blank">
                        <img src="img/logo/amazon.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>
    
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; 멋쟁이 사자처럼 숙명여자대학교 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/sookmyunglikelion" target="_blank"><img src="/img/footer/facebook.png" class="img-circle" width="40"></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">동아리 회칙</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <img src="img/about/about_study.png" width="100%">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> 닫기 </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <img src="img/about/about_service.png" width="100%">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> 닫기 </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <img src="img/about/about_network_1.png" width="100%">
                            <img src="img/about/about_network_2.png" width="100%">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> 닫기 </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 5 -->
    <!--div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>코딩, 소프트웨어 시대 - 조용한 혁명</h2>
                            <iframe width="640" height="360" src="https://www.youtube.com/embed/t346si4gy_M?list=PLITZPbVqfp5_KKqfQDLfO6A_DzG0fqubn" frameborder="0" allowfullscreen></iframe><br>
                            <h2>소프트웨어, 세상을 변화시키다.</h2>
                            <iframe width="640" height="360" src="https://www.youtube.com/embed/0U0ve_HFUL8?rel=0" frameborder="0" allowfullscreen></iframe><br>
                            <h2>프로그래밍을 배워야 하는 이유는?</h2>
                            <iframe width="640" height="360" src="https://www.youtube.com/embed/SESuctdE9vM?rel=0" frameborder="0" allowfullscreen></iframe><br>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div-->

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <img src="img/apply/apply_1.png" width="100%">
                            <img src="img/apply/apply_2.png" width="100%">
                            <img src="img/apply/apply_3.png" width="100%">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> 닫기 </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- jQuery -->
    <script src="../../assets/home/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../assets/home/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->

    <script src="../../assets/home/js/classie.js"></script>
    <script src="../../assets/home/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../../assets/home/js/jqBootstrapValidation.js"></script>
    <script src="../../assets/home/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../assets/home/js/agency.js"></script>

</body>

</html>
