<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SMWU LikeLion :: 숙명여대 멋쟁이사자처럼</title>

    
    <!-- 우리가 앞으로 작성할 CSS를 로드 -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <!-- 자바스크립트를 사용하겠다고 선언 -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    <!-- 부트스트랩의 .js를 링크 걸어줌 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
